@import "src/styles/variables";
@import "src/styles/mixins";

.treners-info {
  display: flex;
  gap: 30px;

  max-width: 1180px;

  padding: 30px;
  background-color: $white;

  margin: 40px auto;

  &__map {
    &__img {
      height: 400px;
      width: 300px;
    }
  }

  &__google-map {
    height: 400px;
    width: 300px;
  }

  &__right-size {
    width: calc(100% - 300px - 30px);
  }

  &__tabs {
    margin-top: 15px;
  }
}

.treners-photo {
  margin: 0 0 40px;
}

.information {
  &__full-name {
    @include font;
    font-size: 38px;

    color: $tundora;
    padding-bottom: 10px;
  }

  &__likes {
    margin: 10px 0 ;

    &__count {
      font-size: 20px;
      margin-right: 15px;
    }
  }

  &__trener-id {
    font-family: $font;
    color: $placeholder-grey;
    font-size: 16px;
    font-weight: 300;

    margin-bottom: 10px;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__numbers {
      display: flex;
      align-items: center;

      padding: 12px 20px;
      background-color: $alabaster;
      border: 1px solid $gallery;
      border-radius: 3px;
    }

    &__number {
      margin-left: 10px;
      color: $tundora;
      font-size: 18px;
      font-weight: 300;

      text-decoration: none;
    }
  }

}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;

  border: none;
  text-decoration: none;
  border-radius: 3px;

  background-color: $orange;
  color: white;

  width: 200px;
  height: 40px;

  font-family: Ubuntu, sans-serif;
}

.fa-costum {
  font-size: 27px;

  &--up {
    color: $grey;

    &:hover {
      color: $turquoise;
    }
  }

  &--down {
    color: $grey;

    &:hover {
      color: $crown-of-thorns;
    }
  }

  &--center {
    display: flex;
    align-items: center;

    width: 40px;
  }

  &__response {

  }
}
