@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#form-login, .logout {
    display: none;
}

#form-login {
    width: 200px;
}

.login, .logout {
    width: 70px;
}

label, input, .success-login, .logout {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

input, .logout {
    font-size: 16px;
    height: 30px;
    border: 1px solid #c0c0c0;
}



