@import "../../../styles/mixins";
@import "../../../styles/variables";

.trener-card {
  display: flex;
  justify-content: space-between;

  &__img {
    cursor: pointer;
    width: 205px;
    height: 205px;
  }

  &__info {
    margin: 25px 10px 15px 30px;

    &__name {
      @include link;

      font-family: Ubuntu, sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;


      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__sport {
      @include link;

      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;

    }
  }

  &__info-block {
    display: flex;

  }

  &__price-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 170px;
    margin: 15px 0 20px;
    padding: 0 15px;

    &__price {
      font-family: Ubuntu, sans-serif;
      font-size: 20px;
      font-weight: bold;
    }

    &__text {
      font-size: 12px;
      margin: 8px 0 0 ;
    }
  }
}

.trener-card {
  margin-bottom: 20px;
  background-color: white;

  @include shadow;

  &__write-to-trener {
    font-weight: 300;
    font-size: 14px;

    border: none;
    text-decoration: none;
    border-radius: 3px;

    background-color: $orange;
    color: white;

    width: 100%;
    height: 32px;

    font-family: Ubuntu, sans-serif;
  }
}
