/* Error: Undefined variable.
 *    ,
 * 65 |   border-left: 1px solid $Gray77;
 *    |                          ^^^^^^^
 *    '
 *   style.scss 65:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 65 \2502    border-left: 1px solid $Gray77;\a    \2502                           ^^^^^^^\a    \2575 \a   style.scss 65:26  root stylesheet";
}
