@import "reset.scss";
@import "variables.scss";
@import "../components/header/style.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

body {
  height: 50vh;

  background-color: $Alabaster;
  font-family: Ubuntu, sans-serif;
}
