@import "variables.scss";

@mixin font {
  font-family: $font;
  font-size: 14px;
}

@mixin shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@mixin icon-png {
  position: absolute;

  top: 50%;
  right: 10px;
  width: 13px;
  height: 13px;
}

