$turquoise: #2f8e97;
$placeholder-grey: #606266;
$orange: #f78e25;
$tundora: #4d4d4d;
$silver: #c4c4c4;
$iceberg: #c8ebee;
$Alabaster: #f7f7f7;
$white: white;
$font: Ubuntu, sans-serif;
$crown-of-thorns: #e15050;
$alabaster: #FAFAFA;
$gallery: #F0F0F0;
$blue-dianne: #1C5459;
$grey: #808080;
$mischka: #DCDFE6;
$silverChalice: #A6A6A6;
